{{define "_header"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Startup Landing Page Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="shortcut icon" href="/assets/images/favicon.ico">
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
	<section class="cover text-center">
		<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
      <div class="container"><a class="navbar-brand" href="/">Hello</a>
				<a href="/about-us" class="navbar-toggler navbar-toggler-social">About Us</a>
				<a href="/login" class="navbar-toggler navbar-toggler-social">Login</a>
				<div class="collapse navbar-collapse pull-xs-right justify-content-end" id="navbar-4">
						<div class="clear"></div>
						</div>
						</div>
						</div>
						</nav>
{{end}}
